<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4">Register Your Account</h2>
                <form id="registrationForm">
                    <div class="form-group row">
                        <label for="txtFullname" class="col-sm-4 col-form-label">Full Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtFullname" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dob" class="col-sm-4 col-form-label">DOB:</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="dob">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtUsername" class="col-sm-4 col-form-label">Username:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtUsername" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtPassword" class="col-sm-4 col-form-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirmpassword" class="col-sm-4 col-form-label">Confirm Password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password">
                        </div>
                    </div>
                </form>
                <div class="row justify-content-center" id="buttonContainer">
                    <div class="col-md-6 text-center">
                        <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
                        <button id="btnLoad" class="btn btn-info">LOAD</button><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 text-center">
                <p>Already have an account? <a href="@Url.Action("index", "User")" class="btn btn-link">Login</a></p>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 text-center">
                <div id="message"></div>
            </div>
        </div>
    </div>
</body>

</html>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        //alert('Form loaded successfully');

        $("#txtFullname").on({
            mouseenter: function () {
                $(this).css("background-color", "lightgray");
            },
            mouseleave: function () {
                $(this).css("background-color", "lightblue");
            },
            click: function () {
                $(this).css("background-color", "yellow");
            }
        });
    });


    $("#btnSubmit").click(function () {
        //debugger;
        var FullName = $("#txtFullname").val();
        var DOB = $("#dob").val();
        var Username = $("#txtUsername").val();
        var Password = $("#txtPassword").val();
        var Confirm_Password = $("#confirmpassword").val();


        //ajax call

        $.ajax({
            url: "/User/AddUser",
            type: "POST",
            data: "{FullName:'" + FullName + "',DOB:'" + DOB + "',Username:'" + Username + "',Password:'" + Password
                + "',Confirm_Password:'" + Confirm_Password + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //debugger;
                if (data == true) {

                    //var table
                    alert("User has been registered.");

                    $("#txtFullname").val("");
                    $("#dob").val("");
                    $("#txtUsername").val("");
                    $("#txtPassword").val("");
                    $("#confirmpassword").val("");

                }
                else {
                    alert("Failed to save data")
                }
            },

        });

    });


    $("#btnLoad").click(function (event) {
        //debugger;
        event.preventDefault();
        LoadData();
    });

    function LoadData() {
        $.ajax({
            url: "/User/GetUser",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log("Data received:", data); // Log the received data
                if (data) {
                    var table =
                        "<table class='table table-bordered'>" +
                        "<thead class='thead-dark'>" +
                        "<tr>" +
                        "<th scope='col'>Id</th>" +
                        "<th scope='col'>FullName</th>" +
                        "<th scope='col'>DOB</th>" +
                        "<th scope='col'>Username</th>" +
                        "<th scope='col'>Password</th>" +
                        "</tr>" +
                        "</thead>" +
                        "<tbody>";

                    $.each(data, function (i, item) {
                        table += "<tr>";
                        table += "<td>" + item.Id + "</td>";
                        table += "<td>" + item.FullName + "</td>";
                        table += "<td>" + item.DOB + "</td>";
                        table += "<td>" + item.Username + "</td>";
                        table += "<td>" + item.Password + "</td>";
                        table += "</tr>";
                    });

                    table += "</tbody>";
                    table += "</table>";

                    $("#message").html(table);
                }
            }
        });
    }

</script>