<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

@{
    ViewBag.Title = "Welcome";
}

@if (Session["username"] != null)
{
    <h2>Welcome @Session["username"].ToString()</h2>
}

<div>
    <h2>Enter Details for Ticket</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtDate">Date:</label>
                    <input type="date" class="form-control" id="txtDate" placeholder="Date">
                </div>
                <div class="form-group">
                    <label for="txtFullname">Full Name:</label>
                    <input type="text" class="form-control" id="txtFullname" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <label for="txtTicketType">Ticket Type:</label>
                    <select class="form-control" id="txtTicketType"></select>
                </div>
                <div class="form-group">
                    <label for="TotalPeople">Total People:</label>
                    <input type="number" class="form-control" id="TotalPeople" placeholder="00">
                </div>
                <div class="form-group">
                    <label for="Discount">Discount:</label>
                    <input type="number" class="form-control" id="Discount" placeholder="Enter discount %">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Price">Price:</label>
                    <input type="number" class="form-control" id="Price" placeholder="Ticket Price" readonly>
                </div>
                <div class="form-group">
                    <label for="NetAmount">Net Amount:</label>
                    <input type="number" class="form-control" id="NetAmount" placeholder="Discounted Amount" readonly>
                </div>
                <div class="form-group">
                    <label for="VatAmount">Vat:</label>
                    <input type="number" class="form-control" id="VatAmount" placeholder="13% of Net Amount" readonly>
                </div>
                <div class="form-group">
                    <label for="TotalAmount"><b>Total Amount:</b></label>
                    <input type="number" class="form-control" id="TotalAmount" readonly>
                </div>
            </div>
        </div>
    </div>

    <br />

    <button id="btnConfirm">Confirm</button>
    <button id="btnView">View</button><br />
    <br />
    <br />
    <div id="result"></div>
    <br />
    <br />
    <table>
        <tr>
            <td>Total Ticket sold on:</td>
            <td><input type="date" id="ticketsold" placeholder="Date" /></td>
        </tr>
    </table>
    <button id="btnShow">Show</button>
    <br />
    <br />
    <div id="filterResult"></div>

</div>



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $("document").ready(function () {
        //alert('ready to load');

        LoadTicketType();


        //Cost Calculation
        //without discount
        $("#TotalPeople").blur(function () {
            var TotalPeople = parseInt($("#TotalPeople").val());
            var Price = parseInt($("#Price").val());
            var NetAmount = TotalPeople * Price;

            $("#NetAmount").val(NetAmount);

            var TotalAmount = Price + (13 / 100 * NetAmount);
            $("#TotalAmount").val(TotalAmount);

        });

        //after providing discount
        $("#Discount").blur(function () {
            var TotalPeople = parseInt($("#TotalPeople").val());
            var Price = parseInt($("#Price").val());
            var Amount = TotalPeople * Price;

            var discount = parseInt($("#Discount").val());

            var NetAmount = Amount - (discount / 100 * Amount);
            $("#NetAmount").val(NetAmount);

            var TotalAmount = NetAmount + (13 / 100 * NetAmount);
            $("#TotalAmount").val(TotalAmount);

        });



        //select Ticket using dropdown
        //For loading price of ticket

        $("#txtTicketType").change(function () {
            $.ajax({
                url: " /User/GetTicketDetails",
                type: "GET",
                data: "id=" + $("#txtTicketType").val() + "",
                contentType: "application/json; char=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data) {
                        debugger;
                        $("#Price").val(data.Price);
                    }

                },
                error: function (data) {
                    console.log(data);
                }

            });
        });


        function LoadTicketType() {
            $.ajax({
                url: " /User/GetAll",
                type: "GET",
                data: "",
                contentType: "application/json; char=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data) {
                        debugger;

                        $.each(data, function (I, item) {
                            $('#txtTicketType').append(`<option value="${item.Id}">
                                       ${item.TicketName}
                                  </option>`);
                        });
                    }

                },
                error: function (data) {
                    console.log(data);
                }

            });
        };


        //For sending data to backend
        //Inserting data
        $("#btnConfirm").click(function () {
            //debugger;
            var Date = $("#txtDate").val();
            console.log(Date)
            var FullName = $("#txtFullname").val();
            var ticketType = $("#txtTicketType").val();
            var price = $("#Price").val();
            var totalPeople = $("#TotalPeople").val();
            var discount = $("#Discount").val();
            var netAmount = $("#NetAmount").val();
            var vat = 13;
            var totalAmount = $("#TotalAmount").val();

            //ajax call

            $.ajax({
                url: "/TicketBooking/AddCustomer",
                type: "POST",
                data: "{Date:'" + Date + "',FullName:'" + FullName + "',TicketType:'" + ticketType + "',Price:'" + price
                    + "',TotalPeople:'" + totalPeople + "',Discount:'" + discount + "',NetAmount:'" + netAmount
                    + "',Vat:'" + vat + "',TotalAmount:'" + totalAmount + "'}",

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //debugger;
                    //console.log(data);
                    if (data == true) {

                        alert("Data saved to Database");

                        $("#txtDate").val("");
                        $("#txtFullname").val("");
                        $("#txtTicketType").val("");
                        $("#Price").val("");
                        $("#TotalPeople").val("");
                        $("#Discount").val("");
                        $("#NetAmount").val("");
                        $("#TotalAmount").val("");
                    }
                    else {
                        alert("Failed to save data")
                    }
                },

            });



        });

    });




    //data load from database

    $("#btnView").click(function () {
        //debugger;
        LoadData();
    });


    function LoadData() {
        $.ajax({
            url: "/TicketBooking/GetCustomerList",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //debugger;
                if (data) {
                    //debugger;
                    var table =
                        "<table style='border-collapse: collapse; width: 100%;'>" +
                        "<thead style='background-color: #333; color: #fff;'>" +
                        "<tr>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Date</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>FullName</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>TicketType</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>TotalPeople</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Price</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Discount</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>NetAmount</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Vat</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>TotalAmount</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Action</th>" +
                        "</tr>" +
                        "</thead>" +
                        "<tbody>";

                    $.each(data, function (i, item) {
                        table += "<tr>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Date + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.FullName + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.TicketType + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.TotalPeople + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Price + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Discount + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.NetAmount + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Vat + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.TotalAmount + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>";
                        table += "<a href='#' onclick='editItem(" + item.Id + ")'><i class='fas fa-edit'></i></a>";
                        table += "<a href='#' onclick='deleteItem(" + item.Id + ")'><i class='fas fa-trash'></i></a>";
                        table += "</td>";
                        table += "</tr>";
                    });

                    table += "</tbody>";
                    table += "</table>";

                    $("#result").html(table);


                }
            }

        });


    };



    $("#btnShow").click(function () {
        var date = $("#ticketsold").val();
        debugger;
        LoadDataByDate(date);

    });

    function LoadDataByDate(date) {

        $.ajax({
            url: "/TicketBooking/GetCustomerListByDate",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                date: date,
            },
            success: function (data) {
                if (data) {
                    var table =
                        "<table style='border-collapse: collapse; width: 100%;'>" +
                        "<thead style='background-color: #333; color: #fff;'>" +
                        "<tr>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Date</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>FullName</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>TicketType</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>TotalPeople</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Price</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Discount</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>NetAmount</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Vat</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>TotalAmount</th>" +
                        "<th style='border: 1px solid #ddd; padding: 8px;'>Action</th>" +
                        "</tr>" +
                        "</thead>" +
                        "<tbody>";

                    $.each(data, function (i, item) {
                        table += "<tr>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Date + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.FullName + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.TicketType + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.TotalPeople + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Price + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Discount + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.NetAmount + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.Vat + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>" + item.TotalAmount + "</td>";
                        table += "<td style='border: 1px solid #ddd; padding: 8px;'>";
                        table += "<a href='#' onclick='editItem(" + item.Id + ")'><i class='fa fa-edit'></i></a>";
                        table += "<a href='#' onclick='deleteItem(" + item.Id + ")'><i class='fa fa-trash'></i></a>";
                        table += "</td>";
                        table += "</tr>";
                    });

                    table += "</tbody>";
                    table += "</table>";

                    $("#filterResult").html(table);
                }
            }
        });
    };

    function editItem(itemId) {
        console.log("Edit item with ID: " + itemId);
    }

    function deleteItem(itemId) {
            debugger;
        $.ajax({
            url: "/TicketBooking/DeleteTicket/" + itemId,
            type: "DELETE", 
            success: function (response) {
                console.log("Item deleted successfully");
            },
            error: function (xhr, status, error) {
                console.error("Error deleting item:", error);
            }
        });
    }


</script>


